# Dataset (слишком большой для GitHub, скачать через download.py)
*.csv

# Задание
Лабы.docx
*.docx

# Python
__pycache__/
*.py[cod]
*.pyo
.env

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/
DA.Lab2 (1).docx
